
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

:root{
    --fondoAzul:#021b807c;
    --fondoRosa:#004395d5;
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family: 'Roboto', sens-serif;
}

.conteiner{
	width: 90%;
	max-width: 1200px;
	margin: 0 auto;
	overflow: hidden;
	padding: 100px 0;
	height: auto;
}

.conteiner--modifier{
	width: 60%;
}

.headerWeb{
	width: 100%;
	min-height: 100vh;
	background: linear-gradient(180deg, var(--fondoAzul)  0%, var(--fondoRosa) );
}

.navWeb{
	color: #fff;
	height: 70px;
	border-bottom: 1px solid rgb(87, 0, 75);
}

.navContainer{
	display:flex;
	align-items: center;
	justify-content: space-between;
	height: inherit;
	padding: 0;
}

.logo{
	padding: 15px 0 ;
	text-align: center;
	color:aquamarine;
}

.point{
	color:aqua;
}

.link{
	display: inline-block;
	color: inherit;
	text-decoration: none;
	font-weight: 300;
	padding: 10px;
}

.link--activo{
	color:rgb(204, 0, 255);
	font-weight: 700;
}


.posterMain{
	height: calc(100vh - 70px);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0;
}

.flores{
	object-fit: cover;
	width: 48%;
	max-width: 91vh;
}

.posterTexto{

	width: 48%;
}


.titulo{
	font-size: 60px;
	font-weight: 300;
	color: antiquewhite;
}

.titulo--activo{
	color:azure;
	font-weight: 800;
}

.eslogan{

	font-size: 24px;
	color: rgba(160, 160, 160, 0.548);
	text-shadow: #ffffff80 #f7d9d990;
}

.eslogan--active{

	font-weight: 700;
}

.btnModelos{
	padding: 20px 30px;
    display: inline-block;
    background: linear-gradient(180deg, #F7CE90 0%, #F4BD76 100%);
    text-decoration: none;
    color: var(--black2);
    font-weight: 700;
    box-shadow: var(--shadow) var(--color_shadow);
    border-radius: 6px;
}


